.catalogue{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.catalogueReturn{
    display: block;
    width: 40px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    cursor: pointer;
}

.catalogueNavigation{

    display: flex;
    padding-left: 10%;
}

.navTree{
height: 100px;
    display: flex;
    font-size: 2.5em;
    padding-left: 5%;

}

.navTree a,a:visited{
    font-family: 'Dancing Script', cursive;
    color: gray;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}