.catalogueItem{
    margin: 2% ;
    border: thin solid grey;
    padding: 1em;
    width: 20%;
}

.catalogueItemImage{
    width: 100%;
    object-fit: cover;
}

.catalogueItemName{
    padding-top: 0.5em;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    text-align: center;
}